*{
    margin: 0;
    padding: 0;
}

body{
    background: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
}

#contenedor{
    width: auto;
    height: auto;
    margin: 0px auto;
    border: 1px solid red;

}



nav{
    width: auto;
    height: 80px;
    border: 1px solid red;
    
}

.cont1{
    width: 1100px;
    height: 80px;
    margin: auto;
    background-color: black;
}

nav ul{
    margin-left: 500px;
    

}

nav ul li{
    float: left;
    list-style: none;
    margin: center;
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    width: auto;
    height: 700px;
    border: 1px solid black;
}

.cont2{
    width: 1100px;
    height: 700px;
    margin: auto;
    border: 1px solid black;
}
.colum1{
    width: 600px;
    height: 250px;
    margin: auto;
    margin-top: 250px;
    border: 1px solid black;
}
header h1{
    font-size: 50px;
    margin: a;
    

}