<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Document</title>
</head>
<body>

    <div id="contenedor">
    <nav>
        <div class="cont1">
        
            <ul>
                <a href="" class=""><li> Agua Toxica</li></a>
                <a href="" class=""><li> Productos</li></a>
                <a href="" class=""><li> Haz tu pedido</li></a>
                <a href="" class=""><li> Contacto</li></a>
            </ul>
        </div>
    </nav>

    <header>
        <div class="cont2">
            <div class="colum1">
                <h1>Natural es Sana</h1>
                <p>Sana Libre de Sodio.</p>
                <p1>Sólo debe hacer su pedido y estaremos con usted...</p1>
                <h2>Quienes somos</h2>
            </div>    
        </div>    
    </header>

    <section>
        <div class="sect1">
            <div class="div1">
                <h1>Quienes Somos</h1><br></br>
                <p>Empresa “Natural Agua Purificada” comenzó sus servicios en el año 2013, con el fin de poder incorporarse al ámbito de la comercialización de botellones de agua purificada para así poder entregar al mercado nacional un producto de categoría, rigiéndose bajo los estándares de calidad que el Ministerio de Salud tiene estipulado.</p><br></br>
                <p>Actualmente tenemos nuestra planta productiva en la Región Metropolitana, en la comuna de Maipú. Entregando aproximadamente 100.000 litros mensuales a todos nuestros clientes. El agua que nosotros distribuimos cuenta con la Resolución Sanitaria Nº 1913148836 dictada por el Seremi de Salud de la Región Metropolitana. </p>

                
            </div>
            <div class="div2">
                <h1>Quienes Somos</h1>
            </div>

        </div>
           
    </section>
    <section></section>
    <div class="section_2">
        <img src="../img/img_bidon.png" alt="">
        <p>Bidón + Recarga</p>
        <img src="../img/img_promocion.png" alt="">
        <p>Promoción 2 Bidones + Dispensador</p>
    </div>
    <div class="section_3">
        <h1>¡Haz tu pedido!</h1>
        <h2>Teléfono</h2>
        <h2>Whatsapp</h2>
        <h2>Escríbenos</h2>
    </div>
    <footer>
        <h1>pie de pagina</h1>
    </footer>
    </div>
</body>
</html>